mixin ListItemTag(t, index)
  = ' '
  a(href='/tags/'+ t) #{t}

mixin ListItem(d, index, isCompact)
  - var descShort = d.short_description || '';
  - var descLong = d.long_description || descShort;
  - if (isCompact == undefined) isCompact = true;
  article.List-Item
    header.List-Item-Header
      cite.List-Item-Title
        a(href=d.href)= d.title
      //-
      if d.author
        span.List-Item-Author  by&nbsp;#{d.author}
    p(class=['List-Item-Description', 'List-Item-Description--Short'])= descShort
    //-
    if d.tags
      .List-Item-Tags
        span.List-Item-Tags-Label Tags:
        each tag, i in (d.tags)
          +ListItemTag(tag, i)
    if d.level
      .List-Item-Level
        span.List-Item-Tags-Handle Good for:
        = ' '
        a(href='/level/' + d.level) #{d.level}

mixin List(cat, index)
  - var theID = ('000' + index).slice(-4) + '-' + cat.replace(/\s/g, '-');
  - var catLinks = _(bigData.links)
  -                 .filter(function(link) { return (_.contains(link.categories, cat)); })
  -                 .sortBy(function(link) { return (100 - (link.rank || -1))})
  -                 .value();
  section.List(id=theID)
    h2.List-Header #{cat}
    .List-Body
      each item, i in catLinks
        +ListItem(item, i, true)
